<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Michael Gerbush" %></title>

    <%= stylesheet_link_tag :site %>
    <%= google_analytics_universal_tag %>
  </head>

  <body class="<%= page_classes %>">
    <% if content_for?(:hero) %>
      <div class="hero">
        <%= yield_content :hero %>
      </div>
    <% end %>
    <div class="content">
      <%= yield %>
    </div>
    <%#= javascript_include_tag :all %>
  </body>
</html>
