---
title: Michael Gerbush - Resume
---

<% content_for :hero do %>
	<div class="personal-info">
		<h1>Michael Gerbush</h1>
		<p class="personal-info__title">Full-Stack Product Creator</p>
		<p class="personal-info__email">msgerbush (at) gmail</p>
	</div>
<% end %>

<div class="section">
	<h2 class="section__header">Experience</h2>

	<div class="organization subsection">
		<div class="organization__info subsection__header">
			<h4 class="organization__name"><a href="https://www.spiceworks.com">Spiceworks</a></h4>
			<h5 class="organization__location">Austin, TX</h5>
		</div>

		<ol class="roles subsection__body">
			<li class="role">
				<h4 class="role__title">Technical Product Manager &amp; Staff Developer</h4>
				<span class="role__date date">2015 - Present</span>
				<p class="role__responsibilities">
					I work as full-stack product creator at Spiceworks, responsible for
					researching, conceptualizing, and leading  the development and growth
					of new products. This means talking to IT pros to find their pain
					points, coming up with creative solutions, working with development
					teams to build those solutions, and then getting those solutions to
					users. Most recently, I was a Lead Developer and then the Product
					Manager for the <a href="#spiceworks-cloud-cost-monitor">Cloud Cost
					Monitor</a>, which helps IT pros track their cloud spending.
				</p>
			</li>
			<li class="role">
				<h4 class="role__title">Senior Software Developer</h4>
				<span class="role__date date">2013 - 2015</span>
				<p class="role__responsibilities">
					Tasked with designing and developing an extensible platform for our
					flagship Desktop app, I formulated our approach and the architecture
					that would become the <a href="#spiceworks-app-center">Spiceworks App
					Center</a> and the <a
					href="#spiceworks-developer-center-&-tools">Spiceworks Developer
					Tools</a>. I hired and led a team to build it and we grew it to
					dozens of developers and tens of thousands of app downloads.
				</p>
				<p class="role__responsibilities">
					I helped grow the larger Spiceworks development team, finding the best
					talent by attending conferences, giving <a
					href="#spiceworks-campus-quiz-app">campus tech talks</a>, and
					conducting hundreds of developer interviews.
				</p>
			</li>
			<li class="role">
				<h4 class="role__title">Software Developer</h4>
				<span class="role__date date">2011 - 2013</span>
				<p class="role__responsibilities">
					From zero web-development experience, in less than 2 years I was
					leading a development team of 5 building out the strategic <a
					href="#spiceworks-cloud-services-discovery">Cloud Services</a>
					management tool in our flagship application.  I also lobbied the CEO
					to start our first company hack-week, which is now in it's 7th year
					and was featured in the <a
					href="http://online.wsj.com/article/SB10001424052702303459004577360443194890860.html">WSJ</a>.
				</p>
			</li>
		</ol>
	</div>

	<div class="organization subsection">
		<div class="organization__info subsection__header">
			<h4 class="organization__name"><a href="https://login.cs.utexas.edu/">University of Texas</a></h4>
			<h5 class="organization__location">Austin, TX</h5>
		</div>
		<ol class="roles subsection__body">
			<li class="role">
				<h4 class="role__title">Graduate Research Assistant</h4>
				<span class="role__date date">2009 - 2011</span>
				<p class="role__responsibilities">
					I researched theoretical cryptography under Prof. Brent Waters,
					helping to develop new techniques for proving the security of digital
					signature schemes, published in <em>ASIACRYPT 2012</em>.  We also did
					a fun, applied project implementing an <a
					href="#reversing-s_ci_fi:-breaking-secure-facial-recognition">attack</a>
					on the SCiFI secure face identification system, which was published in
					<em>WACV 2013</em>. <a href="#publications">See all my
					publications</a>.
				</p>
			</li>
		</ol>
	</div>
</div>

<div class="section">
	<h2 class="section__header">Projects</h2>
	<ol class="projects">
		<% data.projects.each do |p| %>
			<li class="project" id="<%= p.title.underscore.split.join('-') %>">
				<% link_to p.url do %>
					<% if p.image %>
						<%= image_tag p.image, height: '100%', class: 'project__image' %>
					<% end %>
					<div class="project__details">
						<h4><%= p.title %></h4>
						<span class="project__organization"><%= p.role %></span>
						<span class="project__date date"><%= p.date %></span>
						<ul class="project__responsibilities">
							<% p.responsibilities.each do |r| %>
								<li><%= r %></li>
							<% end %>
						</ul>
						<p>Tools: <span class="language"><%= p.tools.join(', ') %></span></p>
					</div>
				<% end %>
			</li>
		<% end %>
	</ol>
</div>

<div class="section">
	<h2 class="section__header">Education</h2>
	<ol class="degrees-and-honors">
		<li class="degree subsection">
			<div class="school-info subsection__header">
				<h4 class="school-info__name"><a href="https://login.cs.utexas.edu/">University of Texas</a></h4>
				<h5 class="school-info__location">Austin, TX</h5>
			</div>
			<div class="school-degree subsection__body">
				<h4 class="degree__title">M.S. in Computer Science</h4>
				<span class="degree__date date">2009 - 2012</span>
				<ul class="degree__details">
					<li class="degree__advisor">Advisor: Brent Waters</li>
					<li class="degree__gpa">GPA: 3.8</li>
				</ul>
			</div>
		</li>
		<li class="degree subsection">
			<div class="school-info subsection__header">
				<h4 class="school-info__name"><a href="http://www.williams.edu/">Williams College</a></h4>
				<h5 class="school-info__location">Williamstown, MA</h5>
			</div>
			<div class="school-degree subsection__body">
				<h4 class="degree__title">B.A. Computer Science <em>with honors</em>
					 &amp; Physics, <em>cum laude</em></h4>
				<span class="degree__date date">2005 - 2009</span>
				<ul class="degree__details">
					<li class="degree__advisor">Advisor: Brent Heeringa</li>
					<li class="degree__gpa">GPA: 3.9 in major, 3.7 overall</li>
				</ul>
			</div>
		</li>
		<li class="honors subsection">
			<h4 class="subsection__header">Honors</h4>
			<ol class="honors subsection__body">
				<li>NSF Graduate Research Fellowship HM, UT-Austin <span class="honor__date date">2011<span></li>
				<li>Sam Goldberg Colloquium Prize, Williams College <span class="honor__date date">2009<span></li>
				<li>Dean’s Excellence Award, UT-Austin <span class="honor__date date">2009<span></li>
				<li>Sigma Xi, Science Research Honors Society <span class="honor__date date">2009<span></li>
				<li>Dean’s List, Williams College <span class="honor__date date">2005-2009<span></li>
				<li>National Merit Finalist <span class="honor__date date">2005<span></li>
				<li>National AP Scholar with Distinction <span class="honor__date date">2005<span></li>
			</ul>
		</li>
	</ol>
</div>

<div class="section">
	<h2 class="section__header">Hobbies</h2>
	<p>
		I've always loved playing competitive sports.  At Williams College, I was
		the starting goalie for the Varsity Lacrosse team for 4 years, being
		selected <span class="hobby-highlight">Captain and a DIII
		All-American</span> my senior year.  I was also an
		<span class="hobby-highlight">assistant coach</span> for the University of
		Texas Club Lacrosse Team.  In my advanced age, I stick to
		<span class="hobby-highlight">flag football</span> and <span class="hobby-highlight">pub trivia</span>.
	</p>
</div>

<div id="publications" class="section">
	<h2 class="section__header">Publications</h2>
	<ul class="publications">
		<li>Andy Luong, Michael Gerbush, Brent Waters and Kristen Grauman.
			<a href="https://www.cs.utexas.edu/~bwaters/publications/papers/luong-wacv2013.pdf">
				Reconstructing a fragmented face from a cryptographic identification protocol</a>.
			<em>IEEE Workshop on Applications of Computer Vision (WACV), 2013</em>.</li>
		<li>Michael Gerbush, Allison Lewko, Adam O’Neill, and Brent Waters.
			<a href="https://eprint.iacr.org/2012/261.pdf">
				Dual form signatures: An approach for proving security from static assumptions</a>.
			<em>Advances in Cryptology (ASIACRYPT), 2012</em>.</li>
		<li>Michael Gerbush and Brent Heeringa.
			<a href="http://cs.williams.edu/~heeringa/publications/ciaa.pdf">Approximating Minimum Reset Sequences</a>.
			<em>International Conference on Implementation and Application of Automata (CIAA), 2010</em>.</li>
		<li>Michael Gerbush, Teng Jian Khoo, Daniel J. Phalen, Aaron Pierce, and David Tucker-Smith.
			<a href="https://arxiv.org/pdf/0710.3133v2.pdf">Color-octet scalars at the CERN LHC</a>.
			<em>Physical Review D 77, 095003, 2008</em>.</li>
	</ul>
</div>
